body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.top{
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
  background-color: rgb(122, 216, 45);
}

.displayItems {
  
  padding: 0px 20px;
 background-color: rgb(238, 181, 181);
  min-height: 100%;
  width: 27%;
  margin: auto;
  margin: 5px;
}


  
.button{
  background-color: red
  ;
}

.style{
  display: flex;
  flex-wrap: wrap;background-color: aqua;
  width: 108%;
}